/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
}
#showSingle{
    width: 35rem;
    margin-top: 50px;
}
.feature-images{
    width: 25px;
    margin-right: 10px;
}
.other-feature{
    font-weight: bold;
}